<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575477112815-l06kj2d7vlj9o90jiiokjnd4leujkdqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575477112815-l06kj2d7vlj9o90jiiokjnd4leujkdqs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575477112815-fpdiavho0k9oe655v2h89isrtf3dfbgv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRwDHGGwYDXs3FqdikxMiV-MKawi7BRPg</string>
	<key>GCM_SENDER_ID</key>
	<string>575477112815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventagram.apk</string>
	<key>PROJECT_ID</key>
	<string>eventagram-92ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>eventagram-92ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575477112815:ios:74f65624bae0baa08ce01a</string>
	<key>DATABASE_URL</key>
	<string>https://eventagram-92ff3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>